/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@import "normalize.css"

@lost flexbox flex;

#app {
    min-height: 100vh;
}

#app > div {
    min-height: 100vh;
    height: 100%;
    lost-center: 960px;
}

.heading {
    lost-row: 1/6;
    font-size: 2rem;
    text-align: center;
}

.subject {
    lost-row: 1/6;
    position: relative;
}

.gen-subject {
    display: inline;
    position: absolute;
    top: 9px;
    right: 5px;
    cursor: pointer;
    color: #1e90ff;
}

.body {
    lost-row: 2/3;
}

.body > textarea {
    height: calc(15 * 1.5em);
}

.message {
    font-family: monospace;
    white-space: pre;
}
.copy-hint {
    display: block;
    font-family: initial;
    color: gray;
}

.warn {
    color: #ff8c0c;
}
.error {
    color: #cd3700;
}

input, textarea {
    font-family: monospace;
    width: 100%;
    border: 1px solid gray;
    padding: 10px;
}

textarea {
    resize: none;
}
